<div class='weatherData table-responsive'>
  <table class='table'>
    <thead>
    <tr>
      <th>City</th>
      <th>Time in dd:mm:yyyy::hh:mm:ss </th>
      <th>Temperature in Celsius</th>
      <th>Humidity in %</th>
      <th>Wind Speed in miles per hour</th>
      <th>Cloudiness in %</th>
    </tr>
    </thead>
    <tbody id='tbody'>
    </tbody>
  </table>
</div>
<button class="btn btn-error" (click) = "func()">click here</button>
<div class="addThirdCity">
  <p>Please Select the Third City
    <input id="cities-list" list="cities" name="cities"></p>
  <datalist id="cities">
    <option value="Manchester">
    <option value="Oslo">
    <option value="Singapore">
    <option value="Cape Town">
    <option value="Prague">
  </datalist>
</div>
