<html>
<head>
<title>ADMIN: Logged in</title>
</head>
<body>

<h1>ADMIN: Logged in</h1>
<br/>
<br/>
Welcome ADMin,you have successfully logged in!
Click <a href="/admin/manage">here</a> to manage!
<br />
click here to <a href="/admin/logout">LOGOUT</a>

</body>
</html>
