<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=book.title%></title>
  </head>
  <body>
    <h1><%=book.title%> <%=message%>.</h1>
    <h3>GO BACK to see the change</h3>
  </body>
</html>
