<html>
<head>
<title>Bookstore: Logged in</title>
</head>
<body>

<h1>Bookstore: Logged in</h1>
<br/>
<br/>
Welcome <%=user.name%>, you have successfully logged in!
Click <a href="list">here</a> to order some books!
<br />
click here to <a href="/logout">LOGOUT</a>

</body>
</html>
