<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>Bookstore: Login page</title>
</head>
  <body>
<h1>Bookstore: Login page</h1>
<h2>Please login to buy your books.</h2>
<br/>
<form name="signInForm" action="signin" method="post">
  <table width="75%">
        <tbody>
      <tr>
          <td width="48%">Enter your name</td>
          <td width="52%">
            <input name="username" type="text" required="required">
          </td>
        </tr>
        <tr>
          <td width="48%">Enter your password</td>
          <td width="52%">
            <input name="password" type="text" required="required">
          </td>
        </tr>
    </tbody>
  </table>
  <p>
        <input name="Submit" value="Login" type="submit">
        <input name="Reset" value="Reset form" type="reset">
  </p>
    </form>

</body>
</html>
