<h1>Clue</h1>
<h3>Clue is the classic detective game and is different every time you play. If you can collect the right clues and make the right deductions, you'll solve the mystery and win. Who did it? Where? Which weapon? As you search the mansion's nine rooms and secret passages, be on the lookout for the murderous suspects and the deadly weapons.</h3>
<ul> <b>Includes:</b>
  <li>gameboard</li>
  <li>6 suspect tokens</li>
  <li>6 weapons</li>
  <li>decks of cards
    <ul>
      <li>suspects</li>
      <li>weapons</li>
      <li>rooms</li>
    </ul>
  <li>1 die</li>
  <li>confidential case file</li>
  <li>detective notebook pad</li>
</ul>
<h3>Suspects</h3>
  <table>
   <tr>
    <th>Miss Scarlett</th>
    <th>Colonel Mustard</th>
    <th>Mrs. White</th>
    <th>Mr. Green</th>
    <th>Mrs. Peacock</th>
    <th>Professor Plum</th>
    </tr>
    <tr>
      <td> <img src="https://1.bp.blogspot.com/-rFZ7tqQ4R50/TqX_9mQWjyI/AAAAAAAABAI/UcTJEkEPzsY/s1600/scarlet.jpg"width="130"/></td>
      <td> <img src="https://s-media-cache-ak0.pinimg.com/236x/3c/86/39/3c86393666622bfec3980ec436ad58c9.jpg"width="130"/></td>
      <td> <img src="https://4.bp.blogspot.com/-Y-6vcOZ-lOM/TqYAzIEGHpI/AAAAAAAABAY/3EKN1Kll20U/s1600/white.jpg" width="130" /></td>
      <td> <img src="https://1.bp.blogspot.com/-anl42ZpGMDk/TqYA3PQgDgI/AAAAAAAABAg/EMU91_ItkO8/s1600/green.jpg" width="130"/></td>
      <td> <img src="http://www.cluecult.com/wp-content/uploads/2011/06/mrs-peacock.jpg" width="130"/></td>
      <td> <img src="http://static.giantbomb.com/uploads/scale_super/0/5768/698523-plum22.jpg" width="130"/></td>
    </tr>
</table>
<h3>Weapons</h3>
<table>
  <tr>
    <th>Candlestick
    </th>
    <th>Knife
    </th>
    <th>Lead pipe
    </th>
    <th>Revolver
    </th>
    <th>Rope
    </th>
    <th>Wrench
    </th>
  </tr>
    <tr>
      <td> <img src="http://i294.photobucket.com/albums/mm109/bigcluefan/Clue%20Patterns/CardWeaponCandlestick-1.jpg"width="130"/></td>
      <td> <img src="http://i294.photobucket.com/albums/mm109/bigcluefan/Clue%20Patterns/CardWeaponKnife-1.jpg"width="130"/></td>
      <td> <img src="http://i294.photobucket.com/albums/mm109/bigcluefan/Clue%20Patterns/CardWeaponLeadPipe.jpg" width="130" /></td>
      <td> <img src="http://i294.photobucket.com/albums/mm109/bigcluefan/Clue%20Patterns/CardWeaponRevolver-1.jpg" width="130"/></td>
      <td> <img src="http://i294.photobucket.com/albums/mm109/bigcluefan/Clue%20Patterns/CardWeaponRope.jpg" width="130"/></td>
      <td> <img src="http://i294.photobucket.com/albums/mm109/bigcluefan/Clue%20Patterns/CardWeaponWrench.jpg" width="130"/></td>
    </tr>
</table>
<h3>Rooms</h3>
<table>
  <tr>
    <th>Kitchen
    </th>
    <th>Ballroom
    </th>
    <th>Conservatory
    </th>
    <th>Billiard Room
    </th>
    <th>Library
    </th>
    <th>Study
    </th>
    <th>Hall
    </th>
    <th>Lounge
    </th>
    <th>Dining Room
    </th>
  </tr>
    <tr>
      <td> <img src="https://s-media-cache-ak0.pinimg.com/236x/ff/5d/8c/ff5d8cedfdfedbf02076e25ef2efb28f.jpg"width="130"/></td>
      <td> <img src="https://s-media-cache-ak0.pinimg.com/736x/eb/2f/4c/eb2f4cef468fcf13e94c9fabacaa46f1.jpg"width="130"/></td>
      <td> <img src="https://s-media-cache-ak0.pinimg.com/236x/af/5b/9f/af5b9fc450640cbdc0fff3fe6bb3bd2f.jpg" width="130" /></td>
      <td> <img src="https://s-media-cache-ak0.pinimg.com/236x/bf/73/0a/bf730a6a45b850e75b188dee7ce2ebdf.jpg" width="130"/></td>
      <td> <img src="https://s-media-cache-ak0.pinimg.com/236x/44/4f/e2/444fe25b023aaa921af53e314f03ac76.jpg" width="130"/></td>
      <td> <img src="https://s-media-cache-ak0.pinimg.com/236x/fa/f5/f3/faf5f369fbef0863b933c342a5d43f61.jpg" width="130"/></td>
      <td> <img src="https://s-media-cache-ak0.pinimg.com/236x/02/9b/91/029b91321e301ccc5f9718f99dd9e7ed.jpg" width="130"/></td>
      <td> <img src="https://s-media-cache-ak0.pinimg.com/236x/7b/6a/ff/7b6aff9f2eaf72b92e75c63d5fae97f3.jpg" width="130"/></td>
      <td> <img src="https://s-media-cache-ak0.pinimg.com/236x/24/d4/7a/24d47a1018a303f4c9403db83c00eed9.jpg" width="130"/></td>
    </tr>
</table>
<h3>Other appearances</h3>
<ul>
  <li>Games
    <ul>
      <li>Cluedo: Discover the Secrets (buy on <a href="http://www.amazon.com/Hasbro-40613-Clue/dp/B0017RQYDC/ref=sr_1_7?s=toys-and-games&ie=UTF8&qid=1446763491&sr=1-7&keywords=cluedo"> Amazon</a>) <p>This game was created in an effort to update what Hasbro considered to be an old-fashioned game; however, the traditional version of the game remained on sale as well. The game features new, up-to-date weapons, rooms, and suspects as well as changes to the rules of gameplay.</p></li>
      <li>Cluedo: Carnival - The Case of the Missing Prizes (buy on <a href="http://www.amazon.com/Clue-Carnival-Missing-Prizes-Hasbro/dp/B013VNMM6M/ref=sr_1_fkmr1_3?s=toys-and-games&ie=UTF8&qid=1446763969&sr=1-3-fkmr1&keywords=Cluedo%3A+Carnival+-+The+Case+of+the+Missing+Prizes"> Amazon</a>) <p>Set in a carnival atmosphere, another children's edition, introducing new rules with playing cards, and two levels of play.</p></li>
      <li>Clue: Secrets In Paris <p>This variant of the game features the same weapons (and rules) as Discover the Secrets. The location has been changed to Paris, and the suspects are now youthful teenage versions of their adult counterparts, on a class field trip, who must discover which of their classmates has stolen a piece of art from the Louvre.</p></li>
      <li>Clue Suspect <p>Not to be confused with Clue Suspects (a solo player deduction puzzle sold by Winning Moves), this card game relies on players asking questions between turns to determine the facts of the crime.</p></li>
      <li>Cluedo: The Classic Mystery Game (buy on <a href="http://www.amazon.com/Hasbro-38712-Clue-Game/dp/B008PQFWUE"> Amazon</a>) <p>The first standard English language Cluedo game to feature a bedroom and bathroom (as well as an upstairs), it marks a return to the classic formula of 6 traditional weapons, and classic locations, albeit with a younger cast of characters. The rooms have slightly different names and are arranged differently around the game board. The victim and owner of the mansion is named Samuel Black in this version. This edition also has a different back story of why the guests came to the mansion. The game also features 2 player rules, which is also a first in the standard edition US game.</p></li>
      <li>Clue: The Classic Mystery Game (buy on <a href="http://www.amazon.com/Clue-Board-Game-2013-Edition/dp/B00DUB6RVW/ref=sr_1_1?s=toys-and-games&ie=UTF8&qid=1446763491&sr=1-1&keywords=cluedo"> Amazon</a>) <p>This version features a two-sided, quarter-folded game board with a "second crime scene" on the reverse side. The main mansion game features a similar board with a few minor changes from the previous version. There is no longer an upstairs to the mansion; rather the rooms that were upstairs in the previous version are now located on the main floor. The "Bonus Cards" have been eliminated completely from the main game, and the spaces in the hallway are now laid "stretcher bond" style, allowing players to more quickly move throughout the mansion. The player tokens have also returned to their standard "pawn" look from classic versions. The reverse's side's "second crime scene" is an outdoor boardwalk, with "rooms" that include an Arcade, a Jet Ski Rental, and a Beach. This second side features the return of the "Bonus cards" from the previous version, although there are now only three of them.</p></li>
    </ul>
  </li>
  <li class="computer">Computer and Video Games
    <ul>
      <li class="computer">Clue: Murder at Boddy Mansion (1998)</li>
      <li class="computer">Clue Chronicles: Fatal Illusion (1999)</li>
      <li class="computer">Clue Classic (2008)</li>
      <li class="computer">Clue for the Apple iPhone and iPod Touch (2009)</li>
    </ul>
  </li>
  <li class="tv"> Film (read more on <a href="https://en.wikipedia.org/wiki/Clue_(film)"> Wikipedia</a>)
  </li>
  <li class="tv">
    Television
    <ul>
      <li>Game shows</li>
      <li>TV series</li>
      <li>Documentary</li>
    </ul>
</ul>
